<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebasetesting">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TinAnh"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseTesting">
        <activity
            android:name=".activity.HomePageActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ViewOnlyActivity"
            android:exported="true" />
        <activity
            android:name=".activity.OtherProfileActivity"
            android:exported="true" />
        <activity
            android:name=".whoLikeYou.WhoLikeYouActivity"
            android:exported="true" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".matches.MatchesActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginRegisterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>